<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.3/minty/bootstrap.min.css">
  <title> select監聽</title>
</head>
<body>
<div id="demo" class="container">

    <form class="form-inline">
       
        <select v-model="selected" v-on:change="fetchData" class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref">
            <option v-for="option in options" v-bind:value="option.value" >
              {{ option.text }}
            </option>
          </select>

          <div class="alert alert-dismissible alert-warning">
              <button type="button" class="close" data-dismiss="alert">&times;</button>
              <p class="mb-0"> {{selected}}</p>
            </div>
        
      
    </form>
  
  

  <ul class="list-group list-group-flush">
    <li v-for="record in commits" class="list-group-item">

        <div class="card text-left">
            <div class="card-header">
                <h5 class="card-title">  <span class="author"><a :href="record.author.html_url" target="_blank">{{ record.commit.author.name }}</a></span>
                </h5>
            </div>
            <div class="card-body">
              
              <p class="card-text">commit內容</p>
              <a :href="record.html_url" class="btn btn-primary">更新紀錄</a>
            </div>
            <div class="card-footer text-muted">
                <span class="date">{{ record.commit.author.date  }}</span>
            </div>
          </div>
    
    
    </li>
  </ul>


    

</div>
<!-- bootstrap cdn js -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<!-- vue cdn js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.3/vue.js"></script>
<script src="app.js"></script>
</body>
</html>


